<meta charset="UTF-8">
<meta name="description" content="Record any converstion and prevent the deleted messages or create copy from your channels!" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" href="/public/styles/styles.css" />
<meta name="theme-color" content="#666464" />
<link rel="shortcut icon" href="/public/imgs/cr.png">
<meta name="og:title" content="{{ client.user.username }}" />
<title>{{ client.user.username }}</title>
<script src="https://kit.fontawesome.com/5f3959be50.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>